/* Estilos Generales */
:root {
  --dark: #14142B;
  --dark-light: #4E4B66;
  --gray: #6E7191;
  --gray-medium: #A0A3BD;
  --gray-light: #EFF0F6;
  --smoke: #E2E2E2;
  --smoke-light: #EFEFEF;
  --white: #FCFCFC;
  --primary: #FFCE00;
  --primary-dark: #E6B800;
  --primary-light: #FAE27B;
  --danger: #EB0046;
  --danger-dark: #A20F1D;
  --danger-light: #F8D7DA;
  --info: #0d6efd;
  --info-dark: #041E49;
  --info-light: #C2E7FF;
  --warning: #FF9033;
  --warning-dark: #840F01;
  --warning-light: #FFCF92;
  --success: #36AE7C;
  --success-dark: #094B28;
  --success-light: #C1F8CF;
  --cp-main: #004075;
  --cp-accent: #D6336B;
  --cp-bg: #FFEC00;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  font-weight: 400;
}

main {
  background-color: var(--smoke-light);
  min-height: 100vh;
  padding-top: 3.5rem;
}

hr {
  background-color: var(--dark);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.body-bold {
  font-size: 1rem;
  font-weight: 700;
}

.body-semibold {
  font-size: 1rem;
  font-weight: 600;
}

.body-medium {
  font-size: 1rem;
  font-weight: 500;
}

.small-bold {
  font-size: .75rem;
  font-weight: 700;
}

.small-semibold {
  font-size: .75rem;
  font-weight: 600;
}

.small-regular {
  font-size: .75rem;
  font-weight: 400;
}

/* Margins */
.marginBottom-0-5 {
  margin-bottom: .5rem !important;
}

.marginBottom-1 {
  margin-bottom: 1rem !important;
}

.marginBottom-1-5 {
  margin-bottom: 1.5rem !important;
}

.marginBottom-2 {
  margin-bottom: 2rem !important;
}

.marginBottom-2-5 {
  margin-bottom: 2.5rem !important;
}

.marginBottom-3 {
  margin-bottom: 3rem !important;
}

.marginBottom-3-5 {
  margin-bottom: 3.5rem !important;
}

.marginBottom-4 {
  margin-bottom: 4rem !important;
}

.marginBottom-4-5 {
  margin-bottom: 4.5rem;
}

.marginTop-0-5 {
  margin-top: .5rem !important;
}

.marginTop-1 {
  margin-top: 1rem !important;
}

.marginTop-1-5 {
  margin-top: 1.5rem !important;
}

.marginTop-2 {
  margin-top: 2rem !important;
}

.marginTop-2-5 {
  margin-top: 2.5rem !important;
}

.marginTop-3 {
  margin-top: 3rem !important;
}

.marginTop-3-5 {
  margin-top: 3.5rem !important;
}

.marginTop-4 {
  margin-top: 4rem !important;
}

.marginTop-4-5 {
  margin-top: 4.5rem;
}

.marginRight-0-5 {
  margin-right: .5rem !important;
}

.marginRight-1 {
  margin-right: 1rem !important;
}

/* End Margins */

/* Paddings */
.paddingTop-1 {
  padding-top: 1rem;
}

.paddingTop-2 {
  padding-top: 2rem;
}

.paddingTop-3 {
  padding-top: 3rem;
}
/* End Paddings */

/* Colors */
.primary-color {
  color: var(--primary);
}

.success-color {
  color: var(--success);
}

.danger-color {
  color: var(--danger);
}
/* End Colors */

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-large {
  padding: .75rem 3rem;
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  background-color: var(--primary);
  color: var(--dark);
}

.button-primary:hover {
  background-color: var(--dark);
  color: var(--primary);
}

.button-primary:focus {
  background-color: var(--primary);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-link {
  /* background-color: salmon; */
  color: var(--info);
  padding: 0.5rem  0;
  text-decoration: none;
}

.button-link:hover {
  color: var(--info);
  text-decoration: underline;
}

.button-link:focus {
  color: var(--info-dark);
  text-decoration: underline;
  box-shadow: none;
}

.button-outline {
  background-color: var(--white);
  background-color: none;
  color: var(--dark);
  border-color: 1px solid var(--dark);
}

.button-outline:hover {
  background-color: var(--dark);
  color: var(--white);
}

.button-outline:focus {
  background-color: var(--white);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-icon-left, .button-icon-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button-icon-left span {
  margin-right: .5rem;
}

.button-icon-right span {
  margin-left: .5rem;
}

.button-ghost {
  background-color: none;
  color: var(--dark);
}

.button-ghost:hover {
  background-color: var(--smoke-light);
  color: var(--dark);
}

.button-ghost:focus {
  background-color: none;
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-rounded {
  background-color: none;
  color: var(--gray);
  border-color: 1px solid var(--gray-medium);
  border-radius: 4rem;
}

.button-rounded:hover {
  background-color: var(--gray-light);
  color: var(--gray);
}

.button-rounded:focus {
  background-color: none;
  color: var(--gray);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-icon {
  color: var(--dark);
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon:hover {
  color: var(--dark);
  background-color: var(--gray-light);
}

.button-icon:focus {
  color: var(--dark);
  background-color: none;
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-icon-sm {
  /* background-color: salmon; */
  padding: .25rem;;
}

.button-circle {
  background-color: var(--primary);
  border-radius: 100%;
  min-height: 2.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
}

.button-circle:hover {
  background-color: var(--dark);
  color: var(--white)
}

.button-circle:focus {
  background-color: var(--primary);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-disabled {
  background-color:var(--gray-medium);
  color: var(--dark);
  opacity: 1 !important;
}

/* End Buttons */

.show {
  display: block;
}

.hide {
  display: none;
}

.text-help {
  color: var(--danger);
  display: none;
}

/*OCULTAR CONTROLES INCREMENTO */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* FIN OCULTAR CONTROLES INCREMENTO */

.hidden-caret .dropdown-toggle::after {
  display: none !important;
}

/* SWITCH BTN */
.switch-btn {
 font-size: 1rem;
}
/* END SWITCH BTN */

/* FIN ESTILOS GENERALES */

/* Navbar ----------------------- */

.navbar {
  background-color: var(--white);
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.navbar .navbar-brand {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar .navbar-brand img {
  height: 1.5rem;
}

.dropdown-toggle {
  /* background-color: var(--primary-light); */
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-toggle span {
  /* background-color: pink; */
  margin-left: .5rem;
}

/* Fin Navbar */

.title {
  padding-top: 3rem;
}

/* SECTION  CARDS */
.section-wrap-cards {
  /* background-color: lavender; */
  display: flex;
  flex-wrap: wrap;
}

.card-descarga {
  border-radius: .5rem;
  overflow: hidden;
  width: 14.5rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  border: none;
}

.card-descarga:hover {
  box-shadow: 0px 4px 8px var(--gray-medium);
}

.wrap-img-card {
  /* background-color: blue; */
  padding: 1rem;
}

.card-img-top {
  /* background-color: var(--gray-medium); */
  width: 100%;
  border-radius: .5rem;
}

.card-body {
  /* background-color: pink; */
}

.card-footer {
  background-color: var(--white);
  padding-bottom: 1rem;
  padding-top: 0;
  border-top: none;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
}

.card-text {
  font-size: .875rem;
}

.card-disabled {
  color: var(--gray);
}

.card-disabled .card-img-top {
  opacity: .5;
}

/* END SECTION  CARDS */

/* VALES */
.section-vales, .img-horizontal {
  display: none;
}

.wrap-vales {
  /* background-color: lavender; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.vale {
  border-radius: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.vale__img {
  height: 336px;
}

.vale__img img {
  height: 100%;
}

.vale__content {
  background-color: var(--dark);
  border: 1rem solid var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 336px;
  width: 560px;
}

.vale-content-text {
  background-color: var(--smoke);
  height: 100%;
  width: 100%;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vale-content__title {
  font-size: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vale-content__descripcion {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vale-content__codigo {
  margin-bottom: 1rem;
}

.vale-content-codigo__label {
  margin-bottom: .25rem;
}

.vale-content-codigo__text {
  border: solid 3px var(--primary);
  padding: .5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: .25rem;
  display: inline-block;
  background-color: var(--white);
}

.vale-content-vigencia__label {
  margin-bottom: 0;
  font-weight: 600;
}

.vale-content-vigencia__fecha {
  font-size: .875rem;
  margin-bottom: 0;
}

.vale-content-logo {
  background-color: var(--smoke);
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 1rem 1rem 1rem 0;
}

.vale-content-logo img {
  width: 1.8rem;
}
/* END VALES */

/* VALES CINE */
.vale-cp-entrada {
  padding: 1rem;
  background-color: var(--dark);
  border-radius: .5rem;
  width: 800px;
}

.vale-cp-entrada-top {
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap:2rem;
}

.vale-cp-entrada__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.vale-cp-entrada__images img:last-child {
  width: 4rem;
}

.vale-cp-entrada__content {
  /* background-color: pink; */
  text-align: center;
  color: var(--cp-main);
}

.vale-cp-entrada__title {
  font-size: 2rem;
  color: var(--cp-main);
  text-transform: uppercase;
}

.table-vale-cp {
  color: var(--cp-main);
}

.table-vale-cp tr td:first-child {
  font-weight: 600;
}

.vale-cp-entrada-label {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.vale-cp-entrada_codigo {
  background-color: var(--cp-bg);
  display: inline-block;
  padding: .5rem 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 2rem;
  margin-bottom: .5rem;
}

.vale-cp-entrada__tipo-canje {
  color: var(--cp-accent);
  font-size: 1.5rem;
  font-weight: 600;
}

.vale-cp-entrada-bottom {
  color: var(--white);
  padding-top: 1rem;
  font-size: .75rem;
}

.vale-cp-entrada__label {
  margin-bottom: .5rem;
  font-weight: 500;
  font-size: 1rem;
}

.vale-cp-entrada-bottom img {
  height: 1.2rem;
  display: block;
  margin-left: auto;
}
/* END VALES CINE */

/* FOOTER */

.main-footer {
  background-color: var(--dark);
  color: var(--white);
}

.footer-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-bottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-footer-list {
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.footer-list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.footer-list li {
  margin-bottom: 1.5rem;
}




/* END FOOTER */
