/* Large devices (laptops, less than 1400px) */
@media (max-width: 1400px) {
  main {
    /* background-color: pink; */
  }
}

/* Large devices (desktops, tablets landscape, less than 1200px) */
@media (max-width: 1199.98px) {
  main {
    /* background-color: lavender; */
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  main {
    /* background-color: salmon; */
  }

  /* VALES */
  .vale {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  .vale__img {
    background-color: pink;
    height: auto;
    width: 100%;
  }

  .vale__img img {
    width: 100%;
    height: auto;
  }

  .vale__content {
    height: auto;
    width: 336px;
    flex-direction: column;
  }

  .vale-content-text {
    text-align: center;
  }

  .vale-content-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 .25rem .25rem;
    padding: 1rem;
  }


  .vale-content-logo img {
    width: 100%;
    height: auto;
  }

  .img-vertical {
    display: none;
  }

  .img-horizontal {
    display: block;
  }
  /* END VALES */

  /* VALES ENTRADA CINE */
  .vale-cp-entrada, .vale-cp-combo {
    width: 500px;
  }

  .vale-cp-entrada__images img:last-child {
    display: none;
  }

  .vale-cp-entrada-top, .vale-cp-combo-header {
    flex-direction: column;
  }

  /* END VALE ENTRADA CINE */

  /* VALE COMBO CINE */

  /* END VALE COMBO CINE */
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    /* background-color: lightblue; */
  }
}


@media (max-width: 575.98px) {
  main {
    /* background-color: lightyellow; */
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .card-descarga {
    border-radius: .5rem;
    overflow: hidden;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.25rem;
    border: none;
  }

  /* VALES */

  .vale__img {
    /* background-color: tomato; */
    width: 100%;
    height: auto;
  }

  .vale__img img {
    width: 100%;
    height: auto%;
  }

  .vale__content {
    width: 100%;
    height: auto;
  }

  .vale-content__title, .vale-content__descripcion {
    -webkit-line-clamp: 3;
  }

  .vale-content-codigo__text {
    width: 100%;
    padding: .5rem;
  }
  /* END VALES */

  /* VALES CINE */
  .vale-cp-entrada, .vale-cp-combo {
    width: 100%;
  }

  .vale-cp-entrada__title, .vale-cp-combo__title {
    font-size: 1.5rem;
    color: var(--cp-main);
    text-transform: uppercase;
  }

  /* END VALES CINE */
}
